{
    "projectList": [
    	{
		    "projectId" : "MHE Tokenization",
            "projectName": "MHE Tokenization",
            "projectType": "dev",
            "projectRelease":  {
                    "releaseName": "12.0",
                    "startDate": "Jan 1, 2016",
                    "endDate": "Mar 12, 2016",
                    "keyFeatures": [
						"No Sensitive Credit Card information to be logged in MHE Systems", 
						"PCI Compliance",
						"Single User Click For Payment Processing",
						"Common Payment Processing Platform For Multiple Consuming Divisions"
                    ],
                    "phaseNames": [
						{
							"names" : "Requirement", 
							"endDate" : "Jan 10"
						},
						{ 
							"names" : "Design", 
							"endDate" : "Jan 20"
						},
						{ 
							"names" : "Development", 
							"endDate" : "Jan 30"
						},
						{ 
							"names" : "UAT", 
							"endDate" : "Feb 10"
						},
						{ 	
							"names" : "Perf. Testing", 
							"endDate" : "March 10"
						},
						{ 
							"names" : "Go Live", 
							"endDate" : "March 12, 2016"
						}
                    ],
                    "currentPhase" : "Perf. Testing"
                }
        },
        {
		    "projectId" : "MHE Unicorn and FWO",
            "projectName": "MHE Unicorn and FWO",
            "projectType": "dev",
            "projectRelease":  {
                    "releaseName": "12.0",
                    "startDate": "Jan 1, 2016",
                    "endDate": "June 17, 2016",
                    "keyFeatures": [
						"Exploding the prepack master item and allocating revenue as well as cost of goods sold to its components.", 
						"Revenue deferral and amortization for MHHE subscription item.",
						"Allocating part of revenues of salable products to the free-with-order products based Multiple-Element Arrangement (Agreement between MHE and the Customer)."
                    ],
                    "phaseNames": [
						{
							"names" : "Requirement", 
							"endDate" : "Feb 29"
						},
						{ 
							"names" : "Design", 
							"endDate" : "March 31"
						},
						{ 
							"names" : "Development", 
							"endDate" : "April 30"
						},
						{ 
							"names" : "UAT", 
							"endDate" : "June 3"
						},
						{ 	
							"names" : "Perf. Testing", 
							"endDate" : "June 10"
						},
						{ 
							"names" : "Go Live", 
							"endDate" : "June 17, 2016"
						}
                    ],
                    "currentPhase" : "Design"
                }
        },
        {
		    "projectId" : "ERP-OTC",
            "projectName": "ERP-OTC",
            "projectType": "support",
            "runBookAvailable" : "yes"
        },
         {
		    "projectId" : "EDW",
            "projectName": "EDW Run",
            "projectType": "support",
            "runBookAvailable" : "yes"
        },
        {
		    "projectId" : "ATLAS",
            "projectName": "ATLAS",
            "projectType": "support",
            "runBookAvailable" : "no"
        },
         {
		    "projectId" : "Integration",
            "projectName": "Integration",
            "projectType": "support",
            "runBookAvailable" : "no"
        },
        {
		    "projectId" : "NON-ATLAS",
            "projectName": "NON-ATLAS",
            "projectType": "support",
            "runBookAvailable" : "no"
        },
         {
		    "projectId" : "PDH",
            "projectName": "PDH",
            "projectType": "support",
            "runBookAvailable" : "no"
        },
        {
		    "projectId" : "SOA",
            "projectName": "SOA",
            "projectType": "support",
            "runBookAvailable" : "no"
        }
       
    ]
}