{
    "projectList": [
    	{
		    "projectId" : "MHE Tokenization",
            "projectName": "MHE Tokenization",
            "projectType": "dev",
            "projectRelease":  {
                    "releaseName": "12.0",
                    "startDate": "Jan 1, 2016",
                    "endDate": "Mar 12, 2016",
                    "keyFeatures": [
						"No Sensitive Credit Card information to be logged in MHE Systems", 
						"PCI Compliance",
						"Single User Click For Payment Processing",
						"Common Payment Processing Platform For Multiple Consuming Divisions"
                    ],
                    "phaseNames": [
						"Requirement", 
						"Design",
						"Development",
						"UAT",
						"Perf. Testing",
						"Deployment",
						"Go Live"
                    ],
                    "currentPhase" : "Perf. Testing"
                }
        },
        {
		    "projectId" : "MHE Unicorn and FWO",
            "projectName": "MHE Unicorn and FWO",
            "projectType": "dev",
            "projectRelease":  {
                    "releaseName": "12.0",
                    "startDate": "Jan 1, 2016",
                    "endDate": "June 17, 2016",
                    "keyFeatures": [
						"Exploding the prepack master item and allocating revenue as well as cost of goods sold to its components.", 
						"Revenue deferral and amortization for MHHE subscription item.",
						"Allocating part of revenues of salable products to the free-with-order products based Multiple-Element Arrangement (Agreement between MHE and the Customer)."
                    ],
                    "phaseNames": [
						"Requirement", 
						"Design",
						"Development",
						"UAT",
						"Perf. Testing",
						"Deployment",
						"Go Live"
                    ],
                    "currentPhase" : "Design"
                }
        },
        {
		    "projectId" : "ERP-OTC",
            "projectName": "ERP-OTC",
            "projectType": "support"
        },
         {
		    "projectId" : "EDW",
            "projectName": "EDW Run",
            "projectType": "support"
        },
        {
		    "projectId" : "ATLAS",
            "projectName": "ATLAS",
            "projectType": "support"
        },
         {
		    "projectId" : "Integration",
            "projectName": "Integration",
            "projectType": "support"
        },
        {
		    "projectId" : "NON-ATLAS",
            "projectName": "NON-ATLAS",
            "projectType": "support"
        },
         {
		    "projectId" : "PDH",
            "projectName": "PDH",
            "projectType": "support"
        },
        {
		    "projectId" : "SOA",
            "projectName": "SOA",
            "projectType": "support"
        }
       
    ]
}