{
    "projectList": [
        {
		    "projectId" : "Acuity",
            "projectName": "Acuity Development",
            "projectType": "support"
        },
		{
		    "projectId" : "EZTool",
            "projectName": "Connect Team Green",
            "projectType": "support"
        }
    ]
}